.MovieCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: max-content;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    margin: 10px;
}

.MovieCard:hover {
    transform: scale(1.05);
}

.MoviePoster {
    width: 100%;
    height: auto;
}

.MovieInfo {
    padding: 10px;
    text-align: center;
}

.MovieName {
    font-size: 1.2em;
    margin: 0;
}

.MovieYear {
    color: #777;
    margin: 5px 0 0;
}