:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.nav {
  font-weight: 500;
  font-size: larger;
  text-decoration: none;
  color: white;
  border: 1px solid rgba(255, 239, 12, 0);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  background: inherit;
}

a.nav:hover {
  border: 1px solid rgba(255, 239, 12, 1);
}

a.nav.active {
  background: rgb(255, 239, 12);
  border: 1px solid rgb(255, 239, 12);
  color: black;
}

a.nav.pending {
  background: rgb(62, 60, 62);
}

a.nav.pending:hover {
  cursor: wait;
  border: 1px solid rgba(255, 239, 12, 0);
}


ul.nav {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background: rgb(41, 61, 69);
  padding: 10px;
}

.SearchBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50vw;
}
.SearchField {
  padding: 5px;
}
.TextInputField {
  background-color: rgb(38, 48, 66);
  /* border-top: 2px #1a1a1a solid;
  border-left: 2px #1a1a1a solid;
  border-bottom: 2px #1a1a1a solid; 
  border-right: none; */
  border:2px #1a1a1a solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
  color: white;
  font-weight: 500;
  font-size: medium;
  color-scheme: dark;
  transition: border-color 0.25s;
}
.TextInputField:focus {
  border: 2px black solid;
}
.TextInputField:hover {
  border-color: #646cff;
}
.TextInputField::placeholder {
  color: #6c7e80;
}

.TextLabel {
  width: max-content;
  padding: 5px;
  font-weight: 500;
  font-size: medium;
}

.MovieResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}